/* Copyright 2024 Oliver Smith, user0, Peter Mack *
 * SPDX-License-Identifier: MPL-2.0 */

@media (max-width: 700px) {
    panel, panelmultiview, panelview {
        min-width: 100vw !important;
        width: 100vw !important;
        max-width: 100vw !important;
        /* background: var(--gnome-tabbar-background) !important; */
    }

    menupopup {
        max-width: 100vw !important;
    }

    /* Allow extensions to use full popup */
    .webextension-popup-browser {
        height: 100% !important;
        min-height: 100% !important;
        width: 100vw !important;
        min-width: 100vw !important;
    }

    /* Hide some context menu items,
     * hide 'Customize Toolbar' in overflow menu */
    #context-inspect,
    #context-inspect-a11y,
    #context-savelinktopocket,
    #context-searchselect,
    #context-sendlinktodevice,
    #context-viewpartialsource-selection,
    #inspect-separator,
    #appmenu-moreTools-button,
    #appmenu-moreTools-button + toolbarseparator,
    #overflowMenu-customize-button {
        display: none !important
    }

    /* Adjust dialogues like "Confirm before closing multiple
     * tabs" or "Allow open in app" */
    .dialogFrame {
        max-width: 100%;
    }

}
