/* Copyright 2022 Peter Mack, Oliver Smith
 * SPDX-License-Identifier: MPL-2.0 */

@media ((max-width: 700px)
    or (not (-moz-bool-pref: "furi.landscapeDesktop"))) {
    /* Even when not in private browsing mode, reserve space to the right of
     * the tab bar for the private-browsing-indicator (that mask icon). This
     * gives the tab bar a consistent width in both the regular and the private
     * browsing mode, so the increased width hack below looks good in both. */

    hbox.private-browsing-indicator {
        display: none !important;
    }

    /* Hide firefox-view tab, as none of the options in about:config hides it on FF 123 */
    #firefox-view-button {
        display: none;
    }

    /* Increase tab width, to have more space for displaying the title of the
     * website and to make the "all tabs" button show up.
     * Hide the would be divider to the Firefox View button */
    #tabbrowser-tabs {
        --tab-min-width: calc(100vw - 116px) !important;
        border-inline-start: 0 !important;
    }

    /* Rotate the arrow on the "all tabs" button to point upwards, since the
     * tabs and searchbar were moved to the bottom. */
    #alltabs-button {
        transform: rotate(180deg) !important;
    }

    /* All tabs menu: hide scroll buttons */
    #scrollbutton-up, #scrollbutton-down {
        display: none !important;
    }

    /* All tabs menu: hide the search and the separator below it. */
    #allTabsMenu-searchTabs,
    #allTabsMenu-tabsSeparator {
        display: none;
    }
}
