Source: furios-firefox-tweaks
Section: x11
Priority: optional
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Uploaders: Bardia Moshiri <fakeshell@bardia.tech> 
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/FuriLabs/furios-firefox-tweaks
Vcs-Git: https://github.com/FuriLabs/furios-firefox-tweaks.git
Rules-Requires-Root: no

Package: furios-firefox-tweaks
Architecture: all
Depends:
 ${misc:Depends},
 firefox-esr,
Description: Default mobile-friendly configuration for Firefox ESR
 This package provides a set of configuration files aimed at making Firefox ESR
 more mobile-friendly. It provides:
  * default preferences values
  * custom userChrome.css
